<ng-content></ng-content>

<table class="table table-borderless">
    <div *ngIf="employeeData.length == 0" class="text-center mt-4">
        <img [src]="imgPath" alt="No Employees" />
    </div>
    <tr *ngFor="let emp of employeeData" class="custom-row">
        <td>
            <div class="table-cell">
                <strong>{{ emp.name ?? 'NA' | titlecase }}</strong>
            </div>
        </td>
        <td>
            <div class="table-cell">
                {{ emp.role ? (emp.role + ' developer' | titlecase) : 'NA' }}
            </div>
        </td>
        <td>
            <div class="table-cell">
                From {{ emp.fromDate ? (emp.fromDate | date: 'd MMM yyyy') : 'NA' }}
            </div>
        </td>
        <td>
            <div class="table-cell">
                <button (click)="onEdit(emp)" class="btn btn-link p-0">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button (click)="onDelete(emp.id)" class="btn btn-link p-0">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </td>
    </tr>
</table>